body{
    margin:0;
    background-repeat:no-repeat;
    background-size: cover;
}
.main{
    margin:auto;
    margin-top:35px;
    background-color:white;
    box-shadow:0 0 20px 0 rgba(0,0,0,1);
    width:500px;
    border-radius:100px;
}
.photo{
    background-color:tomato;
    border-top-left-radius:100px;
    border-top-right-radius:100px;
}
.photo img{
    box-shadow:0 0 20px 0 rgba(0,0,0,0.8)
}
img{
    width:150px;
    border-radius:75px;
    margin-top:50px;
}
.arrow img{
    margin-top:-10px;
    animation:bounce 1.5s infinite;
    margin-bottom:50px;
}
@keyframes bounce{
    0%,20%,50%,80%,100%{
        transform:translateY(0);
    }
    40%{
        transform:translateY(-10px);
    }
    60%{
        transform:translateY(10px);
    }
}
.socialmedias{
    background-color: aqua;
    margin-top:-20px;
    margin-bottom:20px;
    border-bottom-left-radius:100px;
    border-bottom-right-radius:100px;
}
.socialmedias img{
    margin-top:-10px;
    height:50px;
    width:50px;
}
